@media only screen and (max-width: 768px) {
    .row>* {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
    .card h5{
        font-size: 0.8rem !important;
        margin-top: 0.3rem;
    }
    .card p{
        font-size: 0.8rem !important;
    }
    .card-body{
        padding: 0.3rem;
    }
    .active::before{
        display: none;
    }
    .title-1{
        font-size: 1.4rem !important    ;
        font-weight: bold;
    }
    .title-2{
        font-size: 1.4rem !important    ;
        font-weight: bold;
    }
    #price-list .item{
        margin: 5px 10px !important;
    }
}